.img-main {
   height: 600px;
   width: 100%;
   background: url("../images/main.jpg") no-repeat center center;
}

.img-bank {
   height: 600px;
   width: 100%;
   background: url("../images/bank.png") no-repeat center center;
}

.img-donate {
    height: 750px;
    width: 100%;
    background: url("../images/donate.jpg") no-repeat center center;
}

.circle-container {
    height: 400px;
    width: 700px;
    padding: 1px;
    border-style: solid;
    border-radius: 50%;
    background-color: rgba(240, 160, 13, 0.404);
    position: center;
    margin: 50px;
    right: 50px;
}


.col-6 {
    padding-left: 130px;
    padding-top: 100px;
    position: auto;
}
footer {
    background-color:orange; 
}

.clan-figure {
    height: 100px;
    padding: 150px;
    
}

.table {
    width: 900px;
    margin-left: 80px;
}

.btn-donate {
    margin-left: 300px;
}

.btn-refund {
    margin-left: 100px;
}

.btn-leave {
    margin-left: 1100px;
}

.clan-balance {
    background-color: red;
    font-size: 30px;
}

.clan-balance2 {
    background-color: red;
    font-size: 30px;
}

.input-group {
    width: 900px;
    margin-left: 300px;
    margin-top: 400px; 
}

.btn-return-to-bank {
    margin-left: 1100px;
    margin-top: 120px;
}












